---
interface Props {
  label: string;
  value: string;
  href: string;
  ariaLabel: string;
}

const { label, value, href, ariaLabel } = Astro.props as Props;
---

<div class="flex flex-col leading-tight h-auto">
  <h3 class="text-lg font-primary text-dark dark:text-dark-dark-darker">
    {label}
  </h3>

  <a
    href={href}
    title={ariaLabel}
    aria-label={ariaLabel}
    class="text-xl sm:text-2xl font-semibold text-dark group-hover:text-primary dark:text-dark-dark dark:group-hover:text-dark-primary transition-colors duration-300"
  >
    {value}
  </a>
</div>
