---
import PortfolioCard from "./PortfolioCard.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.id - b.data.id
);
---

<div class="flex flex-col gap-4 md:gap-8 mt-10">
  {
    projects.map(({ data, slug }) => {
      const { title, gallery, tools, shortDescription } = data;
      const image = gallery[0];

      return (
        <PortfolioCard
          slug={slug}
          title={title}
          image={image}
          tools={tools}
          description={shortDescription}
        />
      );
    })
  }
</div>
