---
import PortfolioCard from "./PortfolioCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<div class="flex flex-col gap-8 mt-10">
  {
    projects.map(({ data, slug }) => {
      const { title, gallery, type, shortDescription, link } = data;
      const image = gallery[0];
      const image2 = gallery[1];

      return (
        <PortfolioCard
          slug={slug}
          title={title}
          image={image}
          image2={image2}
          type={type}
          description={shortDescription}
          link={link}
        />
      );
    })
  }
</div>
