---
import VideoButton from "./videoButton.astro";
import LogoTextImage from "../atoms/logoTextImage.astro";
import { getWhatsAppLink } from "@/lib/whatsapp";
import CtaButton from "../atoms/ctaButton.astro";
const subtitle = "Impulsamos tu negocio con soluciones digitales.";
const src = "https://img.youtube.com/vi/X5200TdGRxg/maxresdefault.jpg";
const backgroundVideo = "/videos/home/contact-section.webm";

const logoTextUrl = "/global/logo-blanco-texto.webp";
const titleLogo = "Logo PrometeonDev - Desarrollo de Software a Medida";

const textCtaButton = "Cotiza tu proyecto";
const hrefCtaButton = getWhatsAppLink();

const altThumbnail = "Miniatura del video promocional de PrometeonDev";
const titleThumbnail = "Reproducir video institucional de PrometeonDev";
---

<div
  class="relative flex flex-col w-full min-h-full p-8 sm:p-8 rounded-2xl border-2 overflow-hidden border-none shadow-md dark:shadow-gray-400 shadow-gray-700"
>
  <video
    src={backgroundVideo}
    autoplay
    loop
    muted
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover z-10"></video>

  <div
    class="relative z-10 flex flex-col items-center md:items-start gap-4 my-16"
  >
    <LogoTextImage src={logoTextUrl} title={titleLogo} />

    <p class="text-lg lg:text-2xl text-white w-full md:w-1/2 text-center">
      {subtitle}
    </p>
  </div>

  <div
    class="absolute bottom-4 left-4 right-4 sm:bottom-6 md:left-10 md:right-10 z-20 flex flex-col items-center sm:items-end gap-10 sm:flex-row sm:justify-between"
  >
    <VideoButton src={src} alt={altThumbnail} title={titleThumbnail} />

    <CtaButton text={textCtaButton} href={hrefCtaButton} />
  </div>
</div>
