---
import Heading from "../atoms/heading.astro";
import Paragraph from "../atoms/paragraph.astro";

interface Props {
  image: string;
  title: string;
  ariaLabel: string;
  text: string;
  reverse?: boolean;
}

const { image, title, ariaLabel, text, reverse = false } = Astro.props as Props;
---

<div
  class={`flex flex-col md:flex-row ${reverse ? "md:flex-row-reverse" : ""} items-center gap-4 md:gap-6 lg:gap-8 py-6 md:py-12`}
>
  <div
    class="w-full md:w-1/2 overflow-hidden shadow-sm shadow-gray-600 dark:shadow-none rounded-lg"
  >
    <img
      src={image}
      alt={`Imagen ilustrativa: ${title}`}
      title={ariaLabel}
      loading="lazy"
      class="w-full h-auto object-cover transition-transform duration-300 hover:scale-105 hover:brightness-90"
    />
  </div>

  <div class="md:w-1/2 text-justify px-4">
    <Heading text={title} />

    <Paragraph text={text} />
  </div>
</div>
