---
import SocialIcon from "@/components/about/atoms/socialIcon.astro";

interface Props {
  name: string;
  role: string;
  image: string;
  socials?: {
    github?: string;
    linkedin?: string;
  };
}

const { name, role, image, socials = {} } = Astro.props as Props;
---

<div
  class="bg-background-dark dark:bg-dark-background-dark text-dark dark:text-dark-dark group relative overflow-hidden rounded-md shadow-sm shadow-dark dark:shadow-dark-dark w-full max-w-80 mx-auto"
>
  <div class="relative h-[400px] overflow-hidden">
    <img
      src={image}
      alt={name}
      class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
    />

    <div
      class="absolute inset-0 bg-black/40 dark:bg-black/60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center"
    >
      <div class="flex space-x-6">
        {
          socials.github && (
            <SocialIcon icon="fab fa-github" href={socials.github} />
          )
        }

        {
          socials.linkedin && (
            <SocialIcon icon="fab fa-linkedin-in" href={socials.linkedin} />
          )
        }
      </div>
    </div>
  </div>

  <div class="p-4">
    <h3 class="text-lg font-semibold">{name}</h3>

    <p class="text-sm">{role}</p>
  </div>
</div>
