---
interface Props {
  gallery: {
    src: string;
    alt: string;
    title: string;
  }[];
}

const { gallery } = Astro.props as Props;
const mainImage = gallery[1];
const gridImages = gallery.slice(-2);
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {
    gridImages.map((img, i) => (
      <img
        src={img.src}
        alt={img.alt}
        title={img.title}
        class="w-full h-full object-cover rounded-xl shadow md:col-span-1"
      />
    ))
  }

  <img
    src={mainImage.src}
    alt={mainImage.alt}
    title={mainImage.title}
    alt="Vista principal"
    class="md:col-span-2 w-full rounded-xl shadow-md"
  />
</div>
