---
import ProjectLabel from "../atoms/projectLabel.astro";
import ProjectText from "../atoms/projectText.astro";
import ExternalLink from "../atoms/externalLink.astro";
import SocialLink from "../atoms/socialLink.astro";
import type { ProjectData } from "@/types/project";

interface Props {
  entry: {
    data: ProjectData;
  };
}

const { entry } = Astro.props as Props;
const {
  title,
  shortDescription,
  tools,
  author,
  link,
  socials = [],
} = entry.data;
---

<div class="space-y-4">
  <h2 class="text-3xl font-bold text-primary dark:text-dark-dark">
    {title}
  </h2>

  <ProjectText text={shortDescription} />

  <div class="flex flex-col gap-2">
    <ProjectLabel label="Tecnologías utilizadas" />
    <ProjectText text={tools} />
  </div>

  <div class="flex items-center gap-2">
    <ProjectLabel label="Autor:" />
    <ProjectText text={author} />
  </div>

  {
    link && (
      <div class="flex items-center gap-2">
        <ProjectLabel label="Enlace: " />

        <ExternalLink link={`https://${link}`} text={link} />
      </div>
    )
  }

  {
    socials.length > 0 && (
      <div class="flex gap-6">
        {socials.map((s) => (
          <SocialLink url={s.url} icon={s.icon} />
        ))}
      </div>
    )
  }
</div>
