---
import ProjectCard from "../molecules/projectCard.astro";
import ServicesTextGroup from "../molecules/servicesTextGroup.astro";

const projects = [
  {
    title: "EdifiK",
    imageSrc: "/images/portfolio/edifik/edifik.webp",
    href: "/portfolio/edifik",
    shortDescription: "Gestión eficiente de propiedades en línea",
  },
  {
    title: "Gaman Store",
    imageSrc: "/images/portfolio/gamanStore/gamanstore.webp",
    href: "/portfolio/gamanstore",
    shortDescription: "Tienda virtual creada en wordpress",
  },
  {
    title: "HUAZ",
    imageSrc: "/images/portfolio/hvHuaz/hvhuaz.webp",
    href: "/portfolio/hvhuaz",
    shortDescription: "Plataforma para catalogar muestras botánicas",
  },
];

const sectionTitle = "Nuestros Desarrollos";
const sectionDescription =
  "Conocé algunos de nuestros desarrollos más destacados. Cada uno de ellos refleja nuestro compromiso con la calidad y la innovación.";
const url = "/portfolio";
const buttonTitle = "Ver todos los desarrollos realizados por PrometeonDev";
---

<section class="py-14 px-6 md:px-12 lg:px-20">
  <div class="flex flex-col gap-12 items-start">
    <ServicesTextGroup
      name={sectionTitle}
      description={sectionDescription}
      url={url}
      title={buttonTitle}
      text="Ver más proyectos"
    />

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 flex-1">
      {
        projects.map((project) => (
          <ProjectCard
            title={project.title}
            imageSrc={project.imageSrc}
            shortDescription={project.shortDescription}
            href={project.href}
          />
        ))
      }
    </div>
  </div>
</section>
