---
import ServicesCard from "../molecules/servicesCard.astro";
import ServicesTextGroup from "../molecules/servicesTextGroup.astro";

const services = [
  {
    url: "/services#section-soluciones-digitales",
    title: "Soluciones Digitales",
    imageSrc: "/images/services/soluciones-digitales.webp",
    index: 1,
  },
  {
    url: "/services#section-ia-automatizacion",
    title: "IA y Automatización",
    imageSrc: "/images/services/ia.webp",
    index: 2,
  },
  {
    url: "/services#section-soporte-escalabilidad",
    title: "Soporte y Escalabilidad",
    imageSrc: "/images/services/soporte.webp",
    index: 3,
  },
];

const sectionTitle = "Nuestros servicios";
const sectionDescription =
  "Ofrecemos una amplia gama de servicios para satisfacer tus necesidades. Desde diseño web hasta desarrollo de software y soluciones de inteligencia artificial.";
const url = "/services";
const buttonTitle = "Ver todos los servicios ofrecidos por PrometeonDev";
---

<section class="py-14 px-6 md:px-12 lg:px-20">
  <div class="flex flex-col gap-12 items-start">
    <ServicesTextGroup
      name={sectionTitle}
      description={sectionDescription}
      url={url}
      title={buttonTitle}
      text="Ver más servicios"
    />

    <div
      class="grid md:grid-rows-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 flex-1"
    >
      {
        services.map((service) => (
          <ServicesCard
            url={service.url}
            title={service.title}
            imageSrc={service.imageSrc}
            index={service.index}
          />
        ))
      }
    </div>
  </div>
</section>
