---
import SectionHeading from "../molecules/sectionHeading.astro";
import ServiceCard from "./serviceCard.astro";

const services = [
  {
    id: "section-soluciones-digitales",
    title: "Soluciones Digitales",
    imageSrc: "/images/services/soluciones-digitales.webp",
    url: "",
    description:
      "Desarrollamos plataformas web y móviles a medida para digitalizar procesos, mejorar la experiencia del usuario y optimizar el rendimiento de tu negocio.",
  },
  {
    id: "section-ia-automatizacion",
    title: "IA y Automatización",
    imageSrc: "/images/services/ia.webp",
    url: "",
    description:
      "Implementamos inteligencia artificial, bots y automatización de tareas repetitivas para que tu empresa sea más eficiente, precisa e innovadora.",
  },
  {
    id: "section-soporte-escalabilidad",
    title: "Soporte y Escalabilidad",
    imageSrc: "/images/services/soporte.webp",
    url: "",
    description:
      "Te acompañamos en cada etapa del crecimiento de tu sistema, ofreciendo mantenimiento técnico, asesoría continua y soluciones escalables según tus necesidades.",
  },
];

const titleSection = "Nuestros Servicios";
---

<section id="services-section" class="py-20 px-20 mx-auto">
  <SectionHeading title={titleSection} />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
    {
      services.map((service) => (
        <ServiceCard
          id={service.id}
          icon={service.imageSrc}
          title={service.title}
          description={service.description}
          url={service.url}
        />
      ))
    }
  </div>
</section>
