---
import ServiceHeroText from "../molecules/serviceHeroText.astro";
import ServiceHeroImage from "../molecules/serviceHeroImage.astro";

const titleHero = "Creamos soluciones digitales que transforman tu negocio";
const textHero =
  "Impulsamos tu transformación digital mediante herramientas inteligentes, desarrollo de software a medida y un soporte técnico constante, para que tu negocio crezca con innovación y eficiencia.";
const imageHero = "/images/services/prometeon-services.png";
const altImage = "Ilustración de servicio";
const titleImage = "Soluciones digitales para tu negocio con PrometeonDev";

const hrefButton = "#services-section";
const titleButton = "Ir a la sección de servicios";
---

<section
  class="min-h-screen flex flex-col gap-10 md:gap-6 md:flex-row items-center justify-between px-6 md:px-16 lg:px-20 pt-20 lg:pt-28 pb-10 md:pb-14 bg-gradient-to-br from-blue-200 dark:from-dark-background-light via-50% to-30%"
>
  <div class="w-full md:w-3/5">
    <ServiceHeroText
      title={titleHero}
      text={textHero}
      hrefButton={hrefButton}
      titleButton={titleButton}
    />
  </div>

  <ServiceHeroImage src={imageHero} alt={altImage} title={titleImage} />
</section>
